<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ceb8cfc409.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/media.css">
    <title>Document</title>
</head>
<body>
    <div id="brand-logo-container">
        <!-- <h1 id="brand-logo">What's<span><i>Pay</i></span></h1> -->
         <img src="/img/img_1127.PNG" alt="" id="brand-logo">
    </div>

    <script>
        window.addEventListener("load", function(){
        window.scrollTo({top: 0, behavior: 'smooth'});
        hideBrandLogo();
    });

    window.addEventListener("beforeunload", function(){
        showBrandLogo();
    })

    function showBrandLogo(){
        // const brandLogo = document.getElementById("brand-logo-container");
        document.getElementById("brand-logo-container").style.display = "flex";
  }


    function hideBrandLogo(){
        document.getElementById("brand-logo-container").style.display = "none";
    }
    </script>


<header>
    <div class="container">
        <div class="header">
            <a href="/" id="logo"><i class="fas fa-key fa-2x"></i></a>
            <ul id="navbar">
                <li class="navbar"><a href="/register">Sign Up</a></li>
                <li class="navbar dropdown">
                    <div class="hamburger" id="hamburger">
                        <div class="bar" id="bar1"></div>
                        <!-- <div class="bar" id="bar2"></div> -->
                        <div class="bar" id="bar3"></div>
                    </div> 
                        <div id="menu" class="menu-hidden">
                            <div class="container">
                                <div class="menu">
                                    <div class="menu-nav">
                                        <div class="menu-logo">
                                            <i class="fas fa-key fa-2x"></i>
                                            <h4>Anonym</h4>
                                        </div>
                                        <ul class="pages">
                                          <h4>Create a secret</h4>
                                          <li><a href="">View secrets</a></li>
                                          <li><a href="">Share a secret</a></li>
                                        </ul>
                                        <ul class="account">
                                           <h4><i class="fas fa-user"></i> &nbsp;Account</h4>
                                           <li><a href="/login" class="">Login</a></li>
                                           <li><a href="/register" class="">Register</a></li>
                                        </ul>
                                    </div>
                                    <div class="theme-switch">
                                        <input type="checkbox" id="themeToggle" class="theme-toggle">
                                        <label for="themeToggle" class="theme-toggle-label">
                                            <span class="sun-icon">☀️</span>
                                            <span class="moon-icon">🌙</span>
                                        </label>
                                     </div>
                                    <hr>
                                    <div class="menu-nav-alt">
                                        <ul class="info">
                                          <h4>Information</h4>
                                          <li><a href="">About</a></li>
                                          <li><a href="">Security</a></li>
                                          <li><a href="">Privacy</a></li>
                                          <li><a href="">Blog</a></li>
                                        </ul>
                                        <ul class="support">
                                           <h4>Support</h4>
                                           <li><a href="">FAQ</a></li>
                                           <li><a href="">Contact</a></li>
                                        </ul>
                                    </div>
                                    <p class="menu-lang"><i class="fas fa-globe"></i> English</p>
                                    <button id="close">Close</button>
                                </div>
                            </div>
                        </div>  
                </li>

            </ul>
        </div>
    </div>
</header>

    <div class="container mt-5">
        <div class="hero">
            <i class="fas fa-key fa-7x"></i>
            <h1>Reset Password</h1>
            <p>Reset your password. Protect your secrets</p>
            <% if (locals.foundUser) { %>
                <div class="form-container">
                    <h2>@<%= foundUser.username %></h2>
                    <form action="/reset" method="POST" id="reset">
                        <input type="hidden" name="id" value="<%= foundUser.id %>">
                        <div class="form-group">
                            <label for="new-password">Set a New Password</label> 
                            <input type="password" name="newPassword" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirm password</label> 
                            <input type="password" name="confirmPassword" class="form-control" placeholder="">
                            <% if (locals.message) { %>
                                <p style="color: red; font-style: italic;"><%= message %></p>
                            <% } %>
                        </div>
                        <button type="submit" class="btn btn-dark secret-btn">Reset</button>
                    </form>
                </div>     
            <% } else { %>
                <div class="form-container">
                    <form action="/search" method="POST" id="reset">
                        <div class="form-group">
                            <label for="search-account">Search for your Account</label> 
                            <input type="text" name="findAccount" class="form-control" placeholder="Enter your Email">
                            <% if (locals.message) { %>
                                <p style="color: green; margin-top: .2rem;"><%= message %></p>
                            <% } %>
                            <button type="submit" class="btn btn-dark secret-btn">Search</button>
                        </div>
                       </form>
                </div>
          <% } %>
        </div>                   
    </div>

    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer-flex">
                    <div class="footer-logo">
                     <i class="fas fa-key fa-2x"></i>
                     <h4>Anonym</h4>
                    </div>
                    <ul class="footer-child">
                     <h4>Secrets</h4>
                     <li><a href="">Create secrets</a></li>
                     <li><a href="">Share secrete</a></li>
                     <li><a href="">View secrets</a></li>
                     <li><a href=""></a></li>
                    </ul>

                    <ul class="footer-child">
                     <h4>Information</h4>
                     <li><a href="">About</a></li>
                     <li><a href="">Security</a></li>
                     <li><a href="">Privacy</a></li>
                     <li><a href="">Blog</a></li>
                    </ul>

                    <ul class="footer-child">
                     <h4>Help</h4>
                     <li><a href="">FAQ</a></li>
                     <li><a href="">Contact</a></li>
                    </ul>
                </div>
                
                <center>
                   <p class="viewed">Secrets <span style="color: #999;">created | veiwed: 0</span></p>
                </center> 
                <ul class="socials">
                 <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
                 <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
                 <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
                 <li><a href=""><i class="fab fa-github fa-2x"></i></a></li>
                </ul>
                <p class="footer-text">
                  <a href="">Anonym</a> lets you share secrets anonymously online, End-to-End encrypted. One time.
                  Keep anonymous secrets out of email, Whatsapp, Telegram or any other communication channel. Here 
                  you are 100% hidden to users as your privacy is our priority.
                </p>
                <ul class="footer-links">
                  <li>&copy; <%= new Date().getFullYear() %></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Cookie Policy</a></li>
                  <li>Status</li>
                </ul>
                <p class="lang">English</p>
            </div>
        </div>
    </footer>

    <script>
        const header = document.querySelector('header');
    const nextSection = document.querySelector('body').querySelector('section:not(.active)');
    const logo = document.getElementById('logo')
    
    window.addEventListener('scroll', function(){
        const scrolled = window.scrollY > 0;
       if(scrolled){
        let body = document.querySelector('body');
        body.style.overflowY = 'scroll';
        header.classList.add('scrolled');
        logo.style.opacity = 1;
       } else {
        header.classList.remove('scrolled');
        logo.style.opacity = 0;
      }
    });
    </script>
</body>
</html>