<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ceb8cfc409.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/media.css">
    <title>Document</title>
</head>
<body>
    <div id="brand-logo-container">
        <h1 id="brand-logo">Secrets</h1>
    </div>

    <script>
        window.addEventListener("load", function(){
        window.scrollTo({top: 0, behavior: 'smooth'});
        hideBrandLogo();
    });

    window.addEventListener("beforeunload", function(){
        showBrandLogo();
    })

    function showBrandLogo(){
        // const brandLogo = document.getElementById("brand-logo-container");
        document.getElementById("brand-logo-container").style.display = "flex";
  }


    function hideBrandLogo(){
        document.getElementById("brand-logo-container").style.display = "none";
    }
    </script>


<header>
    <div class="container">
        <div class="header">
            <a href="/secrets" id="logo"><i class="fas fa-key fa-2x"></i></a>
            <ul id="navbar">
                <li class="navbar">
                    <a href="/notifications">
                        <i class="fas fa-bell fa-2x"></i>
                        <span class="counter">0</span>
                    </a>
                </li>
                <li class="navbar dropdown">
                    <div class="hamburger" id="hamburger">
                        <div class="bar" id="bar1"></div>
                        <!-- <div class="bar" id="bar2"></div> -->
                        <div class="bar" id="bar3"></div>
                    </div> 
                        <div id="menu" class="menu-hidden">
                            <div class="container">
                                <div class="menu">
                                    <div class="menu-nav">
                                        <!-- <div class="menu-logo">
                                            <i class="fas fa-key fa-2x"></i>
                                            <h4>Anonym</h4>
                                        </div> -->
                                        <ul class="pages">
                                          <h4>Create a secret</h4>
                                          <li><a href="/secrets">View secrets</a></li>
                                          <li><a href="/submit">Share a secret</a></li>
                                        </ul>
                                        <ul class="account">
                                           <h4><i class="fas fa-user"></i> &nbsp;Account</h4>
                                           <li><a href="/logout" class="">Logout</a></li>
                                           <li><a href="/notifications" class="">Notifcations</a></li>
                                        </ul>
                                    </div>
                                    <div class="theme-switch">
                                        <input type="checkbox" id="themeToggle" class="theme-toggle">
                                        <label for="themeToggle" class="theme-toggle-label">
                                            <span class="sun-icon">☀️</span>
                                            <span class="moon-icon">🌙</span>
                                        </label>
                                     </div>
                                    <hr>
                                    <div class="menu-nav-alt">
                                        <ul class="info">
                                          <h4>Information</h4>
                                          <li><a href="">About</a></li>
                                          <li><a href="">Security</a></li>
                                          <li><a href="">Privacy</a></li>
                                          <li><a href="">Blog</a></li>
                                        </ul>
                                        <ul class="support">
                                           <h4>Support</h4>
                                           <li><a href="">FAQ</a></li>
                                           <li><a href="">Contact</a></li>
                                        </ul>
                                    </div>
                                    <ul class="socials">
                                        <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
                                        <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
                                        <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
                                        <li><a href=""><i class="fab fa-github fa-2x"></i></a></li>
                                       </ul>
                                    <p class="menu-lang"><i class="fas fa-globe"></i> English</p>
                                    <button id="close">Close</button>
                                </div>
                            </div>
                        </div>  
                </li>

            </ul>
        </div>
    </div>
</header>

    <div class="jumbotron text-center">
        <div class="container">
            <div id="dashboard">
                <!-- <i class="fas fa-user-secret fa-6x"></i> -->
                <h4>Hey <span style="text-transform: uppercase;"><%= username %></span></h4>
                <h4>Your anonymous username is <span>@anonym<%= userId %></span></h4>
                <center>
                    <div class="server-msg">
                        <h2><%= heading %></h2>
                        <p><%= pGrph %></p>
                    </div>
                </center>
                <% if (locals.secret) { %>
                    <ul id="secrets">
                        <% secret.forEach((sec) => { %>
                            <li class="secret">
                                <div class="card">
                                    <p><%= sec.secret.substring(0, 250) + " ..." %> <a style="background: none; font-size: 1rem; padding: 0; font-weight: bold;" href="secret/<%= sec.id %>">Read More</a></p>
                                    <form method="post" id="update">
                                        <input type="hidden" name="id" id="" value="<%= sec.id %>">
                                        <input class="edit" type="submit" formaction="/edit" value="Edit">
                                        <input class="delete" type="submit" formaction="/delete" value="Delete">
                                    </form>
                                </div>
                            </li>
                       <%  }); %>
                    </ul>
                <% } %>
                <br>
                <a href="/submit" class="btn btn-dark btn-lg" role="button">Share a Secret</a>
            </div>
            <!-- <a href="/logout" class="btn btn-light btn-lg" role="button">Log Out</a> -->
           <hr>
           <div id="feeds">
            <% if (locals.secrets) { %>
                <ul id="secrets">
                    <h2>Anonymous Feeds<div class="bottom-line"></div></h2>
                    <!-- <div class="bottom-line"></div> -->
                    <center>
                        <h1 class="display-3">You've discovered some Dark Secrets!</h1>
                        <p>Don't kiss and tell </p>
                    </center>
                    <br>
                    <% secrets.forEach((secret) => { %>
                        <li class="secret">
                            <div class="card">
                                <small>~~ @anonym<%= secret.user_id %> ~~</small>
                                <p><%= secret.secret.substring(0, 250) + " ..."  %> <a style="background: none; font-size: 1rem; padding: 0; font-weight: bold;" href="secret/<%= secret.id %>">Read More</a></p>
                            </div>
                        </li>
                   <%  }); %>
                </ul>

                <audio id="post-sound" src="/sounds/system-notification-199277.mp3" preload="auto"></audio>
                    <script>
                      const postSound = document.getElementById('post-sound');
                      postSound.play();
                    </script>
            <% } %>
           </div>
        </div>
    </div>

    <button id="scrollToTopBtn" style="display: none;">^</button> 
    <script>
    document.addEventListener("DOMContentLoaded", () => {

    const scrollTopButton = document.getElementById('scrollToTopBtn');
    const nextSection = document.querySelector('body').querySelector('li:not(.active)');
    const del = document.querySelectorAll('.delete'); 
  
     del.forEach(function(delet) {
      delet.addEventListener('click', function(e){
    // e.preventDefault();
    if(confirm('Are you sure you want to delete this secret?')){
      // e.target.href = "/admin/delete";
      console.log("Delete");
    } else {
      e.preventDefault();
    }
   });
  });
    
    window.addEventListener('scroll', function(){
    if(nextSection && nextSection.getBoundingClientRect().top < this.window.innerHeight /2){
       scrollTopButton.style.display = 'block';
       //ads.style.right = "-.75rem";
    } else {
        scrollTopButton.style.display = 'none';
        //ads.style.right = "-180px";
    }
   });
     
     scrollTopButton.addEventListener('click', function(){
    window.scrollTo({top: 0, behavior: 'smooth'});
    scrollTopButton.style.display = 'none';
   });
});

    </script>
    <script>
        const header = document.querySelector('header');
        const feedsHeader = document.querySelector('#feeds h2')
    const nextSection = document.querySelector('body').querySelector('section:not(.active)');
    const logo = document.getElementById('logo')
    
    window.addEventListener('scroll', function(){
        const scrolled = window.scrollY > 0;
       if(scrolled){
        let body = document.querySelector('body');
        body.style.overflowY = 'scroll';
        header.classList.add('scrolled');
        feedsHeader.classList.add('sticky')
       } else {
        header.classList.remove('scrolled');
        feedsHeader.classList.remove('sticky');
      }
    });
    </script>
    <script src="/js/app.js"></script>
</body>
</html>